* {
    margin: 0;
    padding: 0;
}
.header {
    padding: 60px;
    text-align: center;
    background: #2e92db;
    color: white;
    font-size: 30px;
}
h1, h3 {
  color: white;
  text-align: center;
}
p {
    color: black;
    text-align: center;
}

body {
    background-color: #b3cde0;
    text-align: center;
  }
.topnav {
      color: black;
      font-size: 21px;
      font-weight: bold;
  }
.section-content {
    color: black;
    font-size: 24px;
