* {
    margin: 0;
    padding: 0;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

p {
    color: black;
    text-align: center;
}

body {
    background-color: #b3cde0;
  }
